@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
    background-color: #E5E5E5;
}

.website {
    font-family: 'Roboto';
}

header {
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 22px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

header figure img {
    height: 53px;
    width: 75px;
}

ion-icon {
    height: 45px;
    width: 45px;
    pointer-events: none;
}

main {
    padding: 104px 0px;
}

.message-box {
    min-height: 40px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin: 4px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.message-content {
    margin: 5px 8px;
    word-break: break-word;
}

.message {
    background-color: #FFFFFF;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    color:#AAAAAA;
}

strong {
    font-weight: 700;
}

.noShow {
    display: none;
}

.background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

aside {
    height: 100%;
    max-width: 500px;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
}

aside ion-icon {
    height: 25px;
    width: 25px;
    margin: 0 7px;
    pointer-events: none;
}

.user > ion-icon, .visibility-type > ion-icon {
    display: none;
}

.selected > ion-icon {
    display: block;
    color: #28BB25;
}

.active-users, .visibility {
    width: 90%;
}

.active-users > div, .visibility > div {
    height: 84px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    text-align: center;
}

.user, .visibility-type {
    min-height: 36px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.user div, .visibility-type div {
    display: flex;
    align-items: center;
}

aside > section > div > div > span {
    word-break: break-all;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 22px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;

}

footer .input-div {
    margin-top: 5px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 100%;
    width: 100%;
    border: none;
    border:0;
    outline:0;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

.advice-send-visibility {
    font-weight: 300;
    font-size: 14px;
    color: #505050;
}